{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<div class="content">
    <div class="centralized-div create">
        {{error}}

        <form method="POST" id="classroom-form">
            {% csrf_token %}
            <div class="inputs" id="name-input">
                <label for="name">Nome da Turma:</label>
                {{classroom_form.name}}
            </div>
            <div class="inputs">
                <div id="ids-ab1">
                    <label for="id_test1">Prova 1:</label>
                    {{classroom_form.id_test1}}
                    <label for="id_list1">Lista 1:</label>
                    {{classroom_form.id_list1}}
                    <label for="id_list2">Lista 2:</label>
                    {{classroom_form.id_list2}}
                    <label for="id_test2">Prova 2:</label>
                    {{classroom_form.id_test2}}
                    <label for="id_list3">Lista 3:</label>
                    {{classroom_form.id_list3}}
                    <label for="id_list4">Lista 4:</label>
                    {{classroom_form.id_list4}}
                </div>
                <div id="ids-ab2">
                    <label for="id_test3">Prova 3:</label>
                    {{classroom_form.id_test3}}
                    <label for="id_list5">Lista 5:</label>
                    {{classroom_form.id_list5}}
                    <label for="id_list6">Lista 6:</label>
                    {{classroom_form.id_list6}}
                    <label for="id_test4">Prova 4:</label>
                    {{classroom_form.id_test4}}
                    <label for="id_list7">Lista 7:</label>
                    {{classroom_form.id_list7}}
                    <label for="id_list8">Lista 8:</label>
                    {{classroom_form.id_list8}}
                </div>
                <div id="ids-reavaliation">
                    <label for="id_reav">Reav:</label>
                    {{classroom_form.id_reav}}
                    <label for="id_final">Final:</label>
                    {{classroom_form.id_final}}
                </div>
                <button type="submit" class="add-classroom-button">Adicionar Turma</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}